
.sliceP{
    font-family: 'Work Sans', sans-serif;
    margin-left:5px;
    color: rgba(33, 63, 125, 1);
    letter-spacing:1.5px;
    font-size:16px;
    font-weight: bolder;
}

.generalUserOpt{
    padding-left:10px;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:left;
    width:20%;
    height:160px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.04);
    border-radius:15px;
    background-color:white
}

.bioSection{
    height:100%;
    box-sizing:border-box;
    width:20%;
    overflow: auto;
    padding-bottom: 15px;
    
    font-family: 'Work Sans', sans-serif;
}


@media(max-width:850px){

.generalUserOpt{
    padding-left:10px;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:left;
    width:80%;
    height:160px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.04);
    border-radius:15px;
    background-color:white;
    margin: 30px auto
}

}